/* .login {

} */

.wishListLogo {
  width: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 12vh 2vh;
}

.login-btn {
  background: #ffffff;
  font-family: Helvetica;
  font-size: 50px;
  font-weight: 75;
  border-radius: 0px;
  border: 0px;
  color: rgb(181, 125, 104);
  width: 30vh;
  height: 10vh;
  margin: 12vh;
  font-size: 2.7vh;
  /* padding: 0px 30px; */
  box-shadow: 0px 3px 5px 2px #9b9b9b;
}

/* button:hover, button:visited, button:link, button:active {
  text-decoration: none !important;
} */