.wishListLogo {
  width: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 12vh 2vh;
}

.login-btn {
  background: #5b8dac;
  border-radius: 3px;
  border: 0px;
  color: white;
  width: 40vh;
  height: 10vh;
  margin: 2vh;
  font-size: 2.7vh;
  padding: 0px 30px;
  box-shadow: 0px 3px 5px 2px #6f8590;
}

/* button:hover, button:visited, button:link, button:active {
  text-decoration: none !important;
} */